#game-inventory {
	position: absolute;
	left: 50%;
	bottom: 2.5vh;

	transform: translate(-50%, 0);

    display: none;

    z-index: 2;
}

#game-inventory .game-item {
	width: 70px;
    height: 70px;

    display: inline-block;
}

#game-inventory .game-item:not(:last-child) {
	margin-right: 1em;
}

#game-inventory .game-item .game-item-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	width: 100%;
    height: 100%;
}

#game-stats {
	position: absolute;
    top: 2vmax;
    left: 2vmax;
    width: 98vw;

    color: #fff;

    z-index: 3;

    display: none;

    font-family: "Baloo", cursive;
}

#game-stats .container {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 1em;

	color: var(--light);
	font-size: 2vmax;
	text-transform: uppercase;

	top: 0.5em;
    position: relative;

    width: 13vmax;
    font-weight: bold;
    text-align: center;
}