#game-loader {
	background-color: var(--sky);
	z-index: 1060;

	width: 100%;
	height: 100%;

	position: absolute;
	left: 0;
	top: 0;
}

#game-loader .align-absolute-center {
	width: 50vw;
	z-index: 1061;
}