<div class="modal fade" id="game-menu" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header text-white bg-{{^win}}danger{{/win}}{{#win}}success{{/win}}">
				<h3 class="modal-title">
					{{^win}}Game Over{{/win}}
					{{#win}}Stage Complete!{{/win}}
				</h3>

				<span class="text-light">{{stage.name}}</span>
			</div>

			<div class="modal-body">
				<i class="fa fa-fw fa-clock text-success mr-1"></i><strong class="game-timer">{{time}}</strong><br/>
				<i class="fa fa-fw fa-coins text-warning mr-1"></i><strong class="game-score">{{score}}</strong>

				<button id="game-button-next" {{^next}}disabled{{/next}} class="btn btn-success btn-lg btn-block game-button mt-5">
					Next Stage<i class="fa fa-fw fa-chevron-right ml-1"></i>
				</button>
				<button id="game-button-start" class="btn btn-primary btn-lg btn-block game-button">
					<i class="fa fa-fw fa-sync mr-1"></i>Restart
				</button>
				<button id="game-button-menu" class="btn btn-info btn-lg btn-block game-button">
					<i class="fa fa-fw fa-home mr-1"></i>Go to Menu
				</button>
			</div>
		</div>
	</div>
</div>