<div id="game-inventory">
	{{ #game_items }}
	<div class="game-item img-thumbnail" title="{{ name }}">
		<div class="game-item-image" style="background-image:url('{{ image }}')" data-id="{{ id }}"></div>
	</div>
	{{ /game_items }}
</div>

<div id="game-stats" class="row">
	<div class="float-left img-thumbnail container">
		<i class="fa fa-fw fa-coins mr-1"></i><span class="game-points">0</span>
	</div>

	<div class="float-right img-thumbnail container">
		<i class="fa fa-fw fa-clock mr-1"></i><span class="game-timer">00:00</span>
	</div>
</div>