<div id="game-loader" tabindex="-1">
	<div class="align-absolute-center text-center">
		<h3>Loading...</h3>

		<small>
			<span class="class="game-loader-msg">Loading</span> <span class="game-loader-current">assets</span>...
		</small>

		<div class="progress mt-3">
			<div class="progress-bar progress-bar-stripped bg-primary"></div>
		</div>
	</div>
</div>