<div id="game-inventory">
	{{ #game_items }}
	<div class="game-item img-thumbnail" title="{{ name }}">
		<div class="game-item-image" style="background-image:url('{{ image }}')" data-id="{{ id }}"></div>
	</div>
	{{ /game_items }}
</div>