<div class="modal fade" id="game-menu" tabindex="-1" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">{{ game_title }}</h3>
			</div>

			<div class="modal-body text-center">
				<span class="text-muted">Click to put items on the map to complete the path!</span>

				<hr/>

				<button class="btn btn-primary btn-lg btn-block" id="game-button-start">Play</button>
			</div>

			<div class="modal-footer small">
				<div class="col-4 text-muted text-left">
					v0.0.1 Alpha
				</div>

				<div class="col-8 text-right">
					Developed by <a href="//kemononaru.studio">Kemononaru Studio</a>
				</div>
			</div>
		</div>
	</div>
</div>